.search {
  background-color: #f8f8f8;
  padding: 4rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.search span {
  font-size: 1.5em;
  font-weight: 600;
  padding: 0 1rem;
}

.search-input {
  background-color: #fff;
  padding: 1rem;
}

.type {
  margin: 0 0.5rem;
  width: 32rem;
  padding: 0.5rem;
  font-size: 1.1em;
  border: none;
}

.btn {
  margin: 0 0.5rem;
  width: 10rem;
  padding: 1rem;
  font-size: 1.1em;
  border: none;
}

.btn:hover {
  cursor: pointer;
  background-color: #a5abb65b;
  transition: all 200ms ease;
}