.image {
  width: 100vw;
}

.bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.disponivel {
  font-size: 1.6em;
  font-weight: 700;
  color: #1a1a1a;
}

.mais {
  background-color: #e60012;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  border: none;
  border-radius: 0.8rem;
  padding: 2rem 0.8rem;
  margin: 0 1rem;
}

.mais a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5em;
}

.classification {
  display: flex;
  align-items: center;
  justify-content: center;
}

.square {
  background-color: #2193D1;
  height: 3rem;
  border-radius: 0.8rem;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 700;
  font-size: 2em;
}

.class-text {
  padding: 0 1rem;
  width: 10rem;
  color: #484848;
  font-size: 0.8em;
}